<!DOCTYPE html>
<html>
  <head>
    <title>KonkylieApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <!-- PODLOVE REMOVED -->
    <!-- embed.js, the rest in public folder -->
    <%= javascript_pack_tag "podlove" %>
  </head>

  <body>

    <!-- PODLOVE REMOVED -->
    <%# <div id="example"></div> %>
    <%# <%= render partial: "partials/podlove_json" %1> %>

    <%= yield %>
  </body>
</html>
