<!DOCTYPE html>
<html>
  <head>
    <title>KonkylieApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- PODLOVE -->

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <!-- embed.js, the rest in public folder -->
    <%= javascript_pack_tag "podlove" %>
  </head>

  <body>
    <div id="example"></div>

    <%= render partial: "partials/podlove_json" %>
    <%= yield %>
  </body>
</html>
